html { height:100%; }
body { position:absolute; top:0; bottom:0; right:0; left:0; }
 
 body{
    display:flex;
    flex-direction: column;
    margin: 20px 0px 0px 0px;
    justify-content: space-between;
}

nav{
    align-self: flex-end;
}

a{
    text-decoration: none;
}
a:hover{
    text-decoration: underline;
}
a:visited{
    text-decoration: none;
    color:inherit;
}
a:active{
    text-decoration: underline;
    color:inherit;
}
nav{
    font-size: 15px;
}


ul{
    list-style-type: none;
    margin:0;
    padding: 0;
}
li{
    display: inline;
}

main{
    align-self: center;
}


footer{
    background-color: #e7e7e7;
    font-size: 18px;
}

#fcontent{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}